
/*Coorgi color scheme*/
.coorgi-bg-light {
	background-color: #dcc7aa!important;
}

.coorgi-bg-yellow {
	background-color: #F7C331!important;
}

.coorgi-bg-orange {
	background-color: #F7882F!important;
}

.coorgi-bg-dark {
	background-color: #6B7A8F!important;
}

.coorgi-card-0 {
	background-color: #FFC895!important;
}

.coorgi-card-1 {
	background-color: #FFBD82!important;
}

.coorgi-card-2 {
	background-color: #FFAC62!important;
}

.coorgi-card-3 {
	background-color: #FF9C42!important;
}

.coorgi-card-4 {
	background-color: #FF800D!important;
}

.coorgi-text-light {
	color: #dcc7aa;
}

.coorgi-text-yellow {
	color: #F7C331;
}

.coorgi-text-orange {
	color: #F7882F;
}

.coorgi-text-dark {
	color: #6B7A8F;
}

/*Navigation*/
.navbar {
	background-color: #fff;
	margin: 0px -15px 0px -15px;
	padding-left:60px;
	padding-right: 30px;
	box-shadow: 0 20px 10px rgba(0,0,0,.05);
	padding-bottom: 0;
	padding-top: 5px;
}

.area {
	display: none;
}

.area--active {
	display: block!important;
}

.nav-item.active {
	border-bottom: 0.15rem solid grey;
}

.nav-link {
	font-weight: 400;
}

/*Cards*/

.collapse-header {
	color: white!important;
}

.card{
	box-shadow: 0 20px 10px rgba(0,0,0,.05);
}

/*Misc*/
html {
	box-sizing: border-box;
}

a {
	color:white;
	font-weight: 100;
	letter-spacing: 2px;
	text-decoration: none;
	background: rgba(0,0,0,0.2);
	padding:20px 5px;
	display:inline-block;
	width: 95%;
	text-align: center;
	transition: all 0.5s;
}

.wrapper {
	max-width: 2000px;
	margin: 0 auto;
	padding: 20px;
}

.nav ul {
border:1px solid black;
list-style: none;
margin: 0;
padding: 0;
display:flex;

}

.sok {
	align-content:left;
	align-items:right;
	display:inline-flex;
}

.nav li {
	flex:3;
}

.nav .account {
	flex:1;
}



.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #00BFFF;
    color: white;
    text-align: center;
}


@media all and (max-width:1000px) {

	.nav ul {
	flex-wrap:wrap;
	}

	.nav li {
	flex:1 1 50%;
	}

	.nav .social {
		flex:1 1 25%;
	}

}

@media all and (max-width:500px) {
	.nav li {
		flex-basis:100%;
    }
}

