
/*Coorgi color scheme*/
.coorgi-bg-light {
	background-color: cornsilk;
}

.coorgi-bg-yellow {
	background-color: rgb(247, 227, 49)!important;
}

.coorgi-bg-orange {
	background-color: #F7882F!important;
}

.coorgi-bg-dark {
	background-color: #6B7A8F!important;
}

.coorgi-card-0 {
	background-color: aliceblue!important;
}

.coorgi-card-1 {
	background-color: rgb(208, 233, 255)!important;
}

.coorgi-card-2 {
	background-color: rgb(160, 211, 255)!important;
}

.coorgi-card-3 {
	background-color: rgb(106, 184, 253)!important;
}

.coorgi-card-4 {
	background-color: rgb(66, 167, 255)!important;
}

.coorgi-text-light {
	color: #dcc7aa;
}

.coorgi-text-yellow {
	color: #F7C331;
}

.coorgi-text-orange {
	color: #F7882F;
}

.coorgi-text-dark {
	color: #6B7A8F;
}

.card-body {
	background-color: green;
}

.coorgi-badge {
	font-size: 15pt;
	font-weight: 400;
	height: 40px;
	width: 40px;
	display: table-cell;
	text-align: center;
	vertical-align: middle !important;
	border-radius: 50%;
	background: #F7C331;
  }

#accordion {
	
	min-width: 100%;
	max-height: 30em;
	overflow: hidden;
}

#accordion:hover {
	overflow: auto;
}

.todoItem-editBtn:hover {
	cursor: pointer;
}

.todoItem-deleteBtn:hover {
	cursor: pointer;
}

.todoItem-checkBtn:hover {
	cursor: pointer;
}

.todoItem-deleteBtn {
	padding-top: 3%;
	padding-right: 2%;
}

.todoItem-editBtn {
	padding-top: 3%; 
}

.todoItem-checkBtn {
	padding-right: 2%;
	padding-top: 3%;
}

/*Navigation*/
.navbar {
	background-color: #fff;
	margin: 0px -15px 0px -15px;
	padding-left:60px;
	padding-right: 30px;
	box-shadow: 0 5px 5px rgba(0,0,0,.05);
	padding-bottom: 0;
	padding-top: 5px;
}

.area {
	display: none;
}

.area--active {
	display: block!important;
}

.nav-item.active {
	border-bottom: 0.15rem solid grey;
}

.nav-link {
	font-weight: 400;
}

.btn-success {
	border: 5px!important;
}

/*Cards*/

.todoItem-header {
	color: rgb(255, 255, 255)!important;
}

.card{
	/*box-shadow: 0 20px 10px rgba(0,0,0,.05);*/
	background-color: rgb(255, 168, 97)!important; 
}

.card-body{
	color: rgb(155, 96, 37);
	font-size: 12px;
	background-color: rgb(255, 232, 211);
}

/*Misc*/
html {
	box-sizing: border-box;
}

a {
	color:white;
	font-weight: 100;
	letter-spacing: 2px;
	text-decoration: none;
	background: rgba(0,0,0,0.2);
	padding:20px 5px;
	display:inline-block;
	width: 95%;
	text-align: center;
	transition: all 0.5s;
}

.wrapper {
	max-width: 2000px;
	margin: 0 auto;
	padding: 20px;
}

.nav ul {
border:1px solid black;
list-style: none;
margin: 0;
padding: 0;
display:flex;

}

.sok {
	align-content:left;
	align-items:right;
	display:inline-flex;
}

.nav li {
	flex:3;
}

.nav .account {
	flex:1;
}

.list-group-item:hover{
	cursor: pointer;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #00BFFF;
    color: white;
    text-align: center;
}


@media all and (max-width:1000px) {

	.nav ul {
	flex-wrap:wrap;
	}

	.nav li {
	flex:1 1 50%;
	}

	.nav .social {
		flex:1 1 25%;
	}

}

@media all and (max-width:500px) {
	.nav li {
		flex-basis:100%;
    }
}

.progress {
	margin-bottom: 30px;
}

